<div class="panel panel-primary invoice-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Invoice <%= @invoice.id %></h3>
		<p id="notice"><%= notice %></p>
  </div>
  <div class="panel-body">  
  	<strong>Date:</strong>
  	<%= @invoice.date %>
  </div>
  <div class="panel-body">  
  	<strong>Company:</strong>
  	<%= @invoice.company %>
  </div>
  <div class="panel-body">  
  	<strong>Tax:</strong>
  	<%= @invoice.tax %>
  </div>
  <div class="panel-body">  
  	<strong>Salesperson:</strong>
  	<%= @invoice.salesperson %>
  </div>
</div>


<%= link_to 'Edit', edit_invoice_path(@invoice), class:'btn btn-mini btn-success'  %> 
<%= link_to 'Back', invoices_path, class:'btn btn-mini btn-default' %>
